<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ siteTitle }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>{{{ static.css }}}</style>
    <script>{{{ static.js }}}</script>
  </head>
  <body>
    {{> parts/site_controls }}
    <main>
      {{> pages/die_roller }}
      {{> pages/quick_reference }}
    </main>

    {{> parts/footer }}

    <script src="/js/site.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </body>
</html>
