<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ siteTitle }}</title>

    <style>{{{ static.css }}}</style>
    <script>{{{ static.js }}}</script>
  </head>
  <body class="hidden">
    <main>Hello, world.</main>
    <script src="/js/site.js"></script>
  </body>
</html>
