.site-controls {
  display: flex;
  align-items: center;

  .fill {
    flex: 1 0;
  }
}

.site-nav {
  height: 100%;

  .nav-item {
    height: 100%;
    display: inline-block;
    border: none;
    padding: 4px 16px;
    background: transparent;
    margin: 0;
    color: var(--link-color);

    &:hover {
      cursor: pointer;
      background: var(--theme-primary);
      color: var(--theme-primary-compliment);
    }
  }
}

.site-theme-selector {
  padding: 12px;

  select {
    padding: 4px 12px;
    font-size: 16px;
    background: transparent;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    color: var(--text-color);

    option {
      background: var(--content-bg);
    }
  }
}
