button.reset {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font-family: inherit;

  &:hover {
    cursor: pointer;
  }
}

ul.reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a.reset {
  padding: 0;
  margin: 0;
  display: inline-block;
  color: var(--theme-primary);
  font-size: inherit;
}
