<footer class="footer">
  <p class="made-by">
    Made with <span aria-label="love">💜</span> by Ava
  </p>
  <div class="links">
    <div class="link">
      <label>Code:</label>
      <a
          class="reset"
          href="https://github.com/ava-cassiopeia/cypher-rpg-tool"
          target="blank"
          rel="noopener">
        @ava-cassiopeia/cypher-rpg-tool
      </a>
    </div>
  </div>
</footer>
