<section class="site-controls">
  <nav class="site-nav">
    <button class="nav-item">Die Roller</button>
    <button class="nav-item">Quick Reference</button>
  </nav>
  <div class="fill" aria-hidden="true"></div>
  <div class="site-theme-selector">
    <label for="siteThemeSelector">
      Site Theme:
    </label>
    <select id="siteThemeSelector">
      <option value="monochrome">Monochrome</option>
      <option value="twilight">Twilight</option>
      <option value="blessing">Blessing</option>
      <option value="capp5">CAPP-5</option>
      <option value="nicole-punk-82">Nicole Punk 82</option>
      <option value="sunset-red">Sunset Red</option>
      <option value="slimy-05">Slimy 05</option>
    </select>
  </div>
</section>
