<div class="page" data-page-id="quickReference">
  <table
      class="quick-reference-difficulty-table"
      id="quickReferenceDifficultyTable">
    <thead>
      <tr>
        <th>Difficulty</th>
        <th>Target Number</th>
        <th>Description</th>
        <th>Guidance</th>
      </tr>
    </thead>
    <tbody>
      <!-- filled automatically -->
    </tbody>
  </table>
</div>
