@import "variables";
@import "core/reset";
@import "core/site-layout";
@import "core/footer";
@import "components/roll-results";
@import "components/site-controls";
@import "components/roll-modifiers";
@import "components/toggle-box";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  background: var(--content-bg);
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}
